<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> رادیکال تراپی - علی زارع</title>
    <meta name="description"
          content="درمان بیماریهای ذهنی روانی به روش حذف بار منفی خاطرات آزاردهنده گذشته">
    <link rel="shortcut icon" href="~/img/alizare.png" />
    <script src="~/content/Jquery.min.js"></script>
    <link rel="stylesheet" href="~/content/bootstrap.min.css">
    <script src="~/content/bootstrap.min.js"></script>
    <link href="~/css/StyleSheet-Radical.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Responsive-Radical.css" rel="stylesheet" />
    <link href="~/js/jquery-radical.js" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" type="text/css" />


</head>

<body>

    @RenderBody()

 

</body>

</html>