
@{
    ViewData["Title"] = "PaymentNotSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br />
<div class="container">
<div class="reserveSuccess shadow">
  <p> پرداخت ناموفق <span class="warning">&#9888;</span></p>
  <a class="btn btn-danger" href=@Url.Action("Index","User")>بازگشت به صفحه رزرو ها</a>
</div>
</div>
