
@{
    ViewData["Title"] = "VerifyByHttpClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br /><br /><br /><br />
<div class="container">
<div class="reserveSuccess shadow">
  <p> رزرو شما با موفقیت ثبت گردید <span class="tickmark">&#10003;</span></p>
  <a class="btn btn-success" href=@Url.Action("Index","User")>بازگشت به صفحه رزرو ها</a>
</div>
</div>



