@model RadicalTherapy.Data.model.Content

@{
    ViewData["Title"] = "AddNewContent";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<img src="" id="imgReseptbig" alt="" hidden>
<style>

    .form-group textarea{
       text-align:right;
       width:100%
    }
</style>
<br><br><br>
<div class="">
    <div style="text-align:right;width:100%" class="">
        <form enctype="multipart/form-data" asp-action="AddNewContent" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">نوع</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Img" class="control-label">عکس</label>
                <input id="base64pic" name="base64Coverpic" type="text" hidden>
                <input id="formPic" type="file" class="form-control" onchange="raducesize()" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sequence" class="control-label">ترتیب</label>
                <input asp-for="Sequence" class="form-control" />
                <span asp-validation-for="Sequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">متن</label>
                <textarea asp-for="Text" class="form-control"  rows="20"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="SubjectId" class="control-label"></label>
                <input asp-for="SubjectId" value="@ViewBag.subjectId" class="form-control" />
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary px-5" />
            </div>
        </form>
    </div>
</div>

<div class="ml-5">
    <a style="background-color: blue;color: white;padding: 8px;" asp-action="ContentList"
        asp-route-subjectId="@ViewBag.subjectId">بازگشت</a>
</div>
<script >

function convertToBase64(file) {
    return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
    });
  
}

function resizeImage(base64Str) {
    
    var img = new Image();
    img.src = base64Str;
    var canvas = document.createElement('canvas');
    var MAX_WIDTH = 500;
    var MAX_HEIGHT = 500;
    var width = document.getElementById('imgReseptbig').width;
    var height = document.getElementById('imgReseptbig').height;
    if (width > height) {
        if (width > MAX_WIDTH) {
            height *= MAX_WIDTH / width;
            width = MAX_WIDTH;
        }
    } else {
        if (height > MAX_HEIGHT) {
            width *= MAX_HEIGHT / height;
            height = MAX_HEIGHT;
        }
    }
    canvas.width = width;
    canvas.height = height;
    var ctx = canvas.getContext('2d');
    ctx.drawImage(img, 0, 0, width, height);
    return canvas.toDataURL();
}
</script>
<script src="~/js/js-admin.js"></script>
