@model string
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="sub-video ">
    <p class="turnOnVpn">برای مشاهده ویدیو فیلتر شکن خود را روشن کنید</p>
    <div>@Html.Raw(Model)</div>
</div>